{% extends 'base.html' %}

{% block title %}
Резюме на flask
{% endblock %}

{% block logo_title %}
Резюме
{% endblock %}

{% block logo_subtitle %}
на flask
{% endblock %}

{% block nav_link_about %}
Вкратце обо мне
{% endblock %}

{% block nav_link_work %}
Мой опыт работы
{% endblock %}

{% block nav_link_collaboration %}
Сотрудничество
{% endblock %}

{% block write_me_label %}
Написать мне
{% endblock %}

{% block introduction %}
Привет! Меня зовут Амиран.
{% endblock %}

{% block introduction_continue %}
Я&nbsp;&mdash; студент Высшей Школы Экономики, ФКН ВШЭ. <br> Направления ПМИ.
{% endblock %}

{% block write_me_button %}
Написать мне
{% endblock %}

{% block title_work_experience %}
Мой опыт работы
{% endblock %}

{% block title_top_academy %}
TOP Академия
{% endblock %}

{% block academy_period %}
Сентябрь 2022 – Январь 2022
{% endblock %}

{% block academy_description %}
Преподавал основы языка python школьникам 5-6 классов.
{% endblock %}

{% block title_student %}
Студент
{% endblock %}

{% block student_period %}
Декабрь 2024 – настоящее время
{% endblock %}

{% block student_description %}
Планирую обучаться и развиваться с уклоном в машинное обучение.
{% endblock %}

{% block goals_title %}
Мои цели
{% endblock %}

{% block goals %}
На данный момент моя цель — это углубленно изучать и развивать навыки в области машинного
                обучения, чтобы создавать эффективные и инновационные решения для реальных задач. Я стремлюсь не только
                осваивать теоретические основы, но и применять полученные знания на практике, работая с современными
                алгоритмами и технологиями.
{% endblock %}

{% block title_collaboration %}
Сотрудничество
{% endblock %}

{% block description_collaboration %}
Если интересно, что я могу для вас сделать, пишите:
{% endblock %}

{% block telegram %}
Написать в Telegram
{% endblock %}

{% block resume %}
Посмотреть резюме
{% endblock %}

{% block mail %}
Написать на почту
{% endblock %}

{% block footer_label %}
Cделано с любовью в 2024 году.
{% endblock %}

{% block title_about_me %}
Немного обо мне
{% endblock %}

{% block about_me %}
Я &mdash; целеустремлённый и ответственный человек, который всегда
                стремится к самосовершенствованию и развитию. Мне нравится изучать новое, будь то в области математики,
                программирования или других интересных тем. В свободное время увлекаюсь скалолазанием, спидкубингом и
                настольными играми — люблю вызовы и нестандартные задачи, которые требуют концентрации и стратегического
                подхода.
{% endblock %}