{% extends 'base.html' %}

{% block title %}
Resume on flask
{% endblock %}

{% block logo_title %}
Resume
{% endblock %}

{% block logo_subtitle %}
on flask
{% endblock %}

{% block nav_link_about %}
Briefly about me
{% endblock %}

{% block nav_link_work %}
My work experience
{% endblock %}

{% block nav_link_collaboration %}
Cooperation
{% endblock %}

{% block write_me_label %}
Write to me
{% endblock %}

{% block introduction %}
Hi! My name is Amiran.
{% endblock %}

{% block introduction_continue %}
I am a student at the Higher School of Economics, the Higher School of Economics. <br> Areas of PMI.
{% endblock %}

{% block write_me_button %}
Write to me
{% endblock %}

{% block title_work_experience %}
My work experience
{% endblock %}

{% block title_top_academy %}
TOP Academy
{% endblock %}

{% block academy_period %}
September 2022 – January 2022
{% endblock %}

{% block academy_description %}
He taught the basics of python to students in grades 5-6.
{% endblock %}

{% block title_student %}
Student
{% endblock %}

{% block student_period %}
December 2024 – present
{% endblock %}

{% block student_description %}
I plan to study and develop with a focus on machine learning.
{% endblock %}

{% block goals_title %}
My goals
{% endblock %}

{% block goals %}
At the moment, my goal is to study and develop skills in the field of machine learning in depth.
                learning to create effective and innovative solutions for real-world tasks. I strive not only to
                to master the theoretical foundations, but also to apply the acquired knowledge in practice, working with modern
                algorithms and technologies.
{% endblock %}

{% block title_collaboration %}
Cooperation
{% endblock %}

{% block description_collaboration %}
If you are interested in what I can do for you, write to:
{%endblock %}

{% block telegram %}
Write to Telegram
{% endblock %}

{% block resume %}
View your resume
{% endblock %}

{% block mail %}
Send an email
{% endblock %}

{% block footer_label %}
Made with love in 2024.
{% endblock %}

{% block title_about_me %}
A little bit about me
{% endblock %}

{% block about_me %}
I am a single-minded and responsible person who always
                strives for self-improvement and development. I like to learn new things, whether it's in the field of mathematics.,
                programming or other interesting topics. In my free time, I enjoy rock climbing, speedcubing and
                I like board games — I like challenges and non-standard tasks that require concentration and strategic thinking.
                the approach.
{% endblock %}